/* media querries  */
:root {
  --bg-for-body: rgb(190, 173, 250);
  --bg-for-nav-footer: rgb(208, 191, 255);
}

@media screen and (max-width: 450px) {
  body {
    gap: 0vh;
    /* background-color:; */
  }
  .navbar {
    /* background-color: aqua; */
    background-color: var(--bg-for-nav-footer);
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 9999;
    position: sticky;
    top: 0px;
  }
  #logo_Div {
    background-color: white;
    width: 85%;
    height: 100%;
    justify-content: flex-start;
  }
  #logo_Div img {
    width: 160px;
    height: 50px;
  }

  #hamburger {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 13%;
    height: 50%;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-right: 10px;
    position: relative;
  }
  #hamburger span {
    display: block;
    width: 70%;
    height: 7px;
    right: 5px;
    background-color: black;
    background: #000;
    border-radius: 5px;
    position: absolute;
    transition: rotate 1s, opacity 1s;
  }
  #hamburger .bar-1 {
    transform: translate(-30%, -12px);
  }

  #hamburger .bar-3 {
    transform: translate(-30%, 12px);
  }

  .openMenu .bar-1 {
    /* transform: rotate(-45deg); */
    rotate: -45deg;
  }

  .openMenu .bar-3 {
    /* transform: rotate(45deg); */
    rotate: 45deg;
  }
  .openMenu .bar-2 {
    opacity: 0;
  }

  #links_div {
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 90vh;
    left: -900px;
    display: block;
    background-color: white;
    transition: left 1s ease;
  }
  /* // test */
  #links_divShow {
    position: absolute;
    width: 100vw;
    height: 90vh;
    top: 10vh;
    left: 0px;
    display: block;
    background-color: white;
    transition: left 1s ease;
  }

  .ul_list {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .ul_list li {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    background-color: black;
  }
  .ul_list a {
    font-family: "Courier New", Courier, monospace;
    font-weight: 500;
    font-size: 15px;
    color: white;
  }

  /* *********** */
  #container {
    width: 100vw;
    height: 70vh;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-for-body);
    /* background-color: rgba(52, 118, 118, 0.899); */
  }
  #imageDiv {
    width: 100%;
    height: 50%;
    /* align-items: end; */
    /* background-color: rgb(18, 99, 99); */
  }
  #imageDiv img {
    /* background-color: rgba(149, 82, 82, 0.628); */
    background-color: transparent;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }

  #profileDiv {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #nameDiv {
    justify-content: center;
    width: 100%;
    height: 20%;
    font-size: 20px;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
  }
  #aboutDiv {
    height: 80%;
    font-size: 15px;
    padding: 10px;
    gap: 15px;
    justify-content: start;
  }

  /* FOOTER ***** */
  #footer {
    background-color: white;
    width: 100vw;
    height: 20vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    box-shadow: none;
  }
  #footer_text {
    width: 100%;
    height: 40%;
    font-size: 15px;
  }
  #socialMedia_div {
    width: 100%;
    height: 60%;
    justify-content: space-around;
    gap: 0px;
  }
  #socialMedia_div a {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #socialMedia_div img {
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 6px 9px 0px;
  }
  #copyright_div {
    height: 30%;
    font-size: 12px;
  }
}

@media screen and (max-width: 700px) and (min-width: 451px) {
  body {
    background-color: rgba(94, 96, 92, 0.467);
  }
  .navbar {
    height: 15vh;
  }
  #logo_Div {
    padding-left: 5px;
    width: 20%;
  }
  #logo_Div img {
    width: 90px;
    height: 40px;
  }
  #links_div {
    padding-right: 5px;
    width: 80%;
  }
  .ul_list li {
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
  }
  .ul_list a {
    font-size: large;
  }

  /* *********** */
  #container {
    height: 60vh;
    flex-direction: column;
    align-items: center;
  }
  #imageDiv {
    width: 100%;
    height: 40%;
  }
  #imageDiv img {
    background-color: black;
    width: 120px;
    height: 120px;
  }

  #profileDiv {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #nameDiv {
    justify-content: center;
    width: 100%;
    height: 20%;
    font-size: 20px;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
  }
  #aboutDiv {
    height: 80%;
    font-size: 15px;
    padding: 15px;
    gap: 15px;
    justify-content: start;
  }

  /* FOOTER ***** */
  #footer {
    background-color: white;
    height: 25vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    box-shadow: none;
  }
  #footer_text {
    width: 100%;
    height: 40%;
    font-size: 15px;
  }
  #socialMedia_div {
    width: 70%;
    height: 60%;
    justify-content: space-around;
    gap: 0px;
  }
  #socialMedia_div a {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #socialMedia_div img {
    width: 40px;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 6px 9px 0px;
  }
  #copyright_div {
    height: 30%;
    font-size: 12px;
  }
}

@media screen and (max-width: 950px) and (min-width: 701px) {
  body {
    background-color: rgba(128, 128, 128, 0.656);
  }
  .navbar {
    height: 12vh;
  }
  #logo_Div {
    padding-left: 5px;
    width: 30%;
  }
  #logo_Div img {
    width: 150px;
    height: 70px;
  }
  #links_div {
    padding-right: 5px;
    width: 70%;
  }
  .ul_list li {
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 10px;
  }
  .ul_list a {
    font-size: 20px;
  }

  /* *********** */
  #container {
    height: 70vh;
    flex-direction: column;
    align-items: center;
  }
  #imageDiv {
    width: 100%;
    height: 40%;
  }
  #imageDiv img {
    background-color: black;
    width: 160px;
    height: 160px;
  }

  #profileDiv {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #nameDiv {
    justify-content: center;
    width: 100%;
    height: 20%;
    font-size: 22px;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
  }
  #aboutDiv {
    height: 80%;
    font-size: 20px;
    padding: 15px;
    gap: 15px;
    justify-content: start;
  }

  /* FOOTER ***** */
  #footer {
    background-color: white;
    height: 25vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    box-shadow: none;
  }
  #footer_text {
    width: 100%;
    height: 40%;
    font-size: 18px;
  }
  #socialMedia_div {
    width: 70%;
    height: 60%;
    justify-content: space-around;
    gap: 0px;
  }
  #socialMedia_div a {
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
  }
  #socialMedia_div img {
    width: 60px;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 6px 9px 0px;
  }
  #copyright_div {
    height: 30%;
    font-size: 15px;
  }
}
