@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,600&family=Lugrasimo&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Josefin Slab", serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
}

:root {
  --bg_color: rgba(128, 128, 128, 0.379);
  --font-family: monospace;
}

.navbar {
  /* background-color: var(--bg_color); */
  background-color: white;
  /* background-color: aqua; */
  width: 95vw;
  height: 12vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0px;
  box-shadow: 0px 23px 20px -20px rgba(0, 0, 0, 0.45);
}

#logo_Div {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#logo_Div img {
  width: 200px;
  height: 70px;
  cursor: pointer;
  margin-left: 20px;
  /* background-color: red; */
}

/* CSS FOR LINKS DIV */

#links_div {
  width: 60%;
  height: 100%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ul_list {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 100%; */
  padding-right: 40px;
  justify-content: end;
  gap: 50px;
  list-style: none;
  /* background-color: yellowgreen; */
}

.ul_list li {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.531);
  transition: 1s;
  cursor: pointer;
  /* background-color: aqua; */
}
.ul_list li:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.ul_list a {
  text-decoration: none;
  font-size: 20px;
  font-family: var(--font-family);
  font-weight: 540;
  color: black;
}
/* .ul_list a:hover {
  color: rgb(128, 128, 128);
} */

#hamburger {
  display: none;
}

/* CSS FOR container */

#container {
  width: 95vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45);
  /* box-shadow: 25px 0px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0px 20px -20px rgba(0, 0, 0, 0.45),
    0px -12px 12px -2px rgba(0, 0, 0, 0.22); */
}
#imageDiv {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

#imageDiv img {
  /* background-color: violet; */
  background-color: white;
  width: 300px;
  height: 320px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) -10px 15px 15px;
}

/* CSS FOR profileDiv */

#profileDiv {
  /* background-color: blue; */
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* gap: 20px; */
  /* text-align: center; */
}

#nameDiv {
  font-size: 25px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  height: 40%;
  font-family: var(--font-family);
  /* background-color: brown; */
}
#aboutDiv {
  /* background-color: tomato; */
  height: 40%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* text-align: center; */
  /* justify-content: center; */
  /* align-items: center; */
}

/* CSS FOR FOOTER *********** */

#footer {
  width: 95vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  /* box-shadow: 25px 0px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0px 20px -20px rgba(0, 0, 0, 0.45),
    0px 19px 20px -2px rgba(0, 0, 0, 0.22); */
}

#socialMedia {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  /* background-color: blueviolet; */
}
#footer_text {
  width: 40%;
  height: 100%;
  padding: 20px;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: yellowgreen; */
}

#socialMedia_div {
  /* background-color: brown; */
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}

#socialMedia_div img {
  width: 55px;
  height: 55px;
  border-radius: 30px;
  /* background-color: aqua; */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#copyright_div {
  /* background-color: rgb(204, 234, 40); */
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
